.tab-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  background-color: #f2f2f2;
}

.tab-box button {
  border: 1px solid #fff;
  border-bottom: 1px solid #D1D2D3;
  background-color: inherit;
  color: #666666;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab-box button:hover {
  background-color: #ddd;
}

.tab-box button.active {
  background-color: #fff;
  border: 1px solid #D1D2D3;
  border-bottom: none;
  font-weight: 600;
}

.tab-fill {
  display: none;
  padding: 6px 12px;
  border: 1px solid #D1D2D3;
  border-top: none;
  text-align: left;
}

.tab-fill article {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr;
  padding: 15px;
}

.tab-img {
  height: 300px;
  width: 100%;
  background-color: #f2f2f2;
}

.tab-title, .tab-text {
  margin-left: 20px;
}

.tab-title {
  border-bottom: 1px solid #D1D2D3;
  padding-bottom: 12px;
}
