body {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  grid-template-rows: 60px 1fr 1fr 1fr;
}

.u-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.u-center {
  grid-column-start: 2;
  grid-column-end: 5;
}

.u-left {
  grid-column-start: 1;
}

.u-right {
  grid-column-end: 5;
}

.u-indentLeft {
  grid-column-start: 2;
}

.u-centerLeft {
  grid-column-start: 3;
  grid-column-end: 5;
}

.u-bottom {
  grid-row-start: 5;
  /*grid-row-end: 5;*/
}
