.nav-label {
  display: none;
}

.nav-links {
  background: #D1D2D3;
  color: #666666;
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  vertical-align: 30px;
}

.nav-img {
  border-radius: 50%;
}

.nav-links h3 {
  font-weight: 300;
}

.nav-link-input {
  background: #F2F2F2;
  height: 45px;
  /*border-radius: 0px;*/
  border: 1px solid #D1D2D3;
}

.nav-link-input input {
  background: #F2F2F2;
  border-style: none;
  height: 45px;
  /*width: 80%;*/
  -webkit-appearance: none;
}

.nav-link-input svg {
  vertical-align: middle;
  margin-left: 10px;
}

.nav-link-input input::placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.75em;
  text-align: center;
}

@media (max-width: 950px) {
  .nav-links {
    width: 100%;
    margin: 0;
  }

  .nav-link {
    display: none;
  }

  .nav-label {
    display: block;
    float: right;
  }

  .nav-responsive {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    width: 100%;
  }

  .nav-links.show {
    background-color: #F2f2f2;
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
    align-items: baseline;
  }

  .nav-links.show .nav-responsive {
    background-color: #D1D2D3;
    width: 86%;
    padding: 10px 7%;
  }

  .nav-links.show .nav-link {
    display: block;
    margin-left: 10px;
  }

  .nav-links.show .nav-link-input,
  .nav-links.show .nav-link-input svg,
  .nav-links.show .nav-link-input input {
    background-color: #fff;
  }

  .nav-links.show .nav-link-input {
    width: 90%;
  }
}
