.nav-label {
  display: none;
}

.nav-links {
  background: #D1D2D3;
  color: #666666;
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  vertical-align: 30px;
}

.nav-img {
  border-radius: 50%;
}

.nav-link {
  font-weight: 300;
}

.nav-link-input {
  background: #F2F2F2;
  height: 45px;
  /*border-radius: 0px;*/
  border: 1px solid #D1D2D3;
}

.nav-link-input input {
  background: #F2F2F2;
  border-style: none;
  height: 45px;
  /*width: 80%;*/
  -webkit-appearance: none;
}

.nav-link-input svg {
  vertical-align: middle;
  margin-left: 10px;
}

.nav-link-input input::placeholder {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.75em;
  text-align: center;

}
